<div class="w-screen h-screen p-6 flex items-center justify-center">
  <div class="w-full p-4 rounded-xl border-2 border-black">
    <h1 class="text-4xl font-bold transition-all hover:text-5xl mb-2 delay-400">hi!!! my name is phaedra ^_^</h1>
    <p class="italic mb-3">i just made my first rails app! this is my diary for the stuff that i build every day :3</p>

    <div class="grid grid-cols-3 gap-4">
      <div class="p-4 bg-rose-100/50 border-2 border-black rounded-xl transition hover:scale-105">
        <img src="https://wallpaperset.com/w/full/4/1/0/454122.jpg" alt="rainy day" class="rounded-lg h-32 w-full bg-cover mb-3">
        <div class="font-medium">My first day of code</div>
        <div class="text-xs text-zinc-400 uppercase">June 24, 2024</div>
        <!-- <div class="my-3 bg-black h-0.5 w-full"></div> -->
         <div class="mb-3 text-xs">a gloomy, rainy day in burlington vt...</div>
        <ul class="list-disc list-inside italic">
          <li>fired up my environment</li>
          <li>started a codecademy tutorial</li>
          <li>plan to do more stuff soon...</li>
        </ul>
      </div>
      <div class="p-4 bg-red-100/50 border-2 border-black rounded-lg">
        <div class="flex flex-col justify-between h-full">
          <div>
            <div class="font-medium">My second day of code</div>
            <div class="text-xs text-zinc-400 uppercase">June 25, 2024</div>
            <!-- <div class="my-3 bg-black h-0.5 w-full"></div> -->
            <div class="mb-3 text-xs">learning postgresql!</div>
            <ul class="list-disc list-inside">
              <li>did some codecademy stuff!</li>
              <li>learned how to make modals</li>
              <li>added interactivity :</li>
            </ul>
          </div>
          <div>
            <button
            data-controller="modal"
            data-action="modal#show"
            data-modal-dialog-param="day2_modal"
            class="w-full py-2 rounded-md border-2 border-black bg-white mt-auto transition hover:scale-105"
            >
            View details
          </button>

          <dialog id="day2_modal" aria-labelledby="modal_title" class="w-[80vw] bg-white rounded-xl border-black border-2 max-h-[80vh] p-6">
            <header class="flex justify-between w-full">
              <h2 id="modal_title" class="font-bold text-4xl">
                my second day of code
              </h2>
              <form method="dialog">
                <button aria-label="close" class="text-5xl">X</button>
              </form>
            </header>
          
            <div class="flex gap-4">
              <div class="w-1/2 rounded-lg border-2 border-black p-4">
                <p class="italic mb-2">today was a sunny day! slept thru the morning but locked in so hard during the afternoon that i wont get fired</p>
                <ul class="list-disc list-inside">
                  <li>learned about databases (specifically SQL) with codecademy</li>
                  <li>im hoping to get into postgresql!</li>
                  <li>i created this modal! it uses turbo frames or something?? still reading the docs to figure out what they actually do...</li>
                </ul>
              </div>
              <div class="w-1/2 max-h-[calc(80vh_-_6rem)] rounded-lg overflow-y-scroll border-2 border-black bg-orange-100 p-4 flex flex-col gap-4">
                <img src="https://cloud-6set0ivar-hack-club-bot.vercel.app/0image.png" alt="postgresql" class="aspect-auto w-full border-2 rounded-md border-black">
                <img src="https://wallpaperaccess.com/full/4880221.jpg" alt="sunny day" class="aspect-auto w-full border-2 rounded-md border-black">
                <img src="/image.png" alt="team sync group photo with everybody :3" class="aspect-auto w-full border-2 rounded-md border-black">
              </div>
            </div>
          </dialog>
          </div>
        </div>
      </div>
      <div class="w-full p-4 bg-orange-100/50 border-2 border-black rounded-xl transition hover:scale-105">
        <div class="font-medium">My third day of code</div>
        <div class="text-xs text-zinc-400 uppercase">June 25, 2024</div>
        <!-- <div class="my-3 bg-black h-0.5 w-full"></div> -->
        <div class="mb-3 text-xs">soon to be revealed...</div>
        <ul class="list-disc list-inside">
          <li>lorem ipsum</li>
          <li>dolor sit amet</li>
          <li>consectetur adipiscing elit</li>
        </ul>
      </div>
    </div>
  </div>
</div>
